@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body{
  background-color: #405577;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
button {
  color: 1px solid black !important;
  height: 40px !important;
  border-radius: 0 !important;
}

.mainDiv
{
  margin-left: 20%;
  text-align: center;
  background: #405577;
  width: 60%;
  border-radius: 20px;
  padding: 5px;
}

#loginForm
{
  margin-left: 10%;
  width: 90%;
  padding: 0 10px;
}

.loginBtn
{
  border: 1px solid black;
  background-color: #21B1AF;
  text-align: center;
  width: 20%;
}

className

.fl
{
  float: left;
}

.fr
{
  float: right;
}

.contDiv
{
  width: 80%;
  margin-left: 10%;
  border: 1px solid black;
  background-color: white !important;
  color:black !important;
  margin-top: 5px;
}

table, th, td {
  border:1px solid black;
}